.vesselWrapper {
    width: 150px;
    height: 200px;
    text-align: center;
}

#slaveVesselsWrapper {
    overflow: hidden;
}

#slaveVesselsWrapper .vesselWrapper {
    float: left;
    margin-right: 50px;
}

#slaveVesselsWrapper .vesselWrapper:last-child{
    margin-right: 0;
}

#slaveVesselsWrapper, #masterVesselWrapper {
    width: 550px
}

#masterVesselWrapper .vesselWrapper {
    height: 250px;
    width: 250px;
    margin: 20px auto 0;
}

.vesselWrapper .btn-group {
    margin: 5px auto 0;
}

.vessel {
    width: 150px;
    height: 150px;
}

#masterVesselWrapper .vessel {
    width: 250px;
    height: 250px;
}