#sensors {
    position: relative;
}

#sensors .sensor {
    position: absolute;
}

#sensors .sensor:nth-child(1) {
    top: 0;
    left: 0;
}

#sensors .sensor:nth-child(2) {
    top: 0;
    left: 300px;
}

#sensors .sensor:nth-child(3) {
    top: 300px;
    left: 0;
}

#sensors .sensor:nth-child(4) {
    top: 300px;
    left: 300px;
}